html{
    background:#ededed;
    font-family: Verdana;
}
h1{
    text-align: center;
    font-size: 3rem;
    font-weight:bold;
    color:#333;
}
fieldset{
    font: 1rem verdana;
    height: 8rem;
    width:50%;
    margin: 0 0 0 25%;
}
#click {
    height:50%;
    width:50%;
    padding:1rem;
    cursor: pointer;
    float:left;
}
#clear{
    height:50%;
    width:50%;
    padding:1rem;
    cursor:pointer;   
    float:right;     
}
#color{
    -webkit-appearance:none;
    border: none;
    height:40px;
    width:80px; 
    /* border-radius: 50%; */
    
}
#container {
    display: grid;
    /*this whole time i've been trying to do it statically
    , using flexbox, initially, by wrapping and then 
    grid by choosing a good (on average/not too big not too small) number of columns. I was mistaken. 
    I only needed to dyanmically choose the grid layout with respect to the input (see script.js line 17) */
    /* display:flex; 
    flex-wrap: wrap; */
    /* grid-template-rows: repeat(6,1fr); */
    /* grid-template-columns: repeat(36,1fr);  */
    width:50%;
    height:30rem;
    border:0.1rem solid black;
    overflow:hidden;
    margin:1.5rem 0 0 25%;
}  
.created{  
    /* flex:1 1 50px; */
    transition: background-color 2s;
    padding:5px;
    /* border: 0.1rem solid black; */
}

